/* ------------------- */
/* Variables & Resets  */
/* ------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary-50: #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-200: #bbf7d0;
  --color-primary-300: #86efac;
  --color-primary-400: #4ade80;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  --color-primary-800: #166534;
  --color-primary-900: #14532d;
  --color-primary-950: #052e16;

  --green: #16a34a;
  --dark-green: #15803d;
  --light-green: #2ecc71;
  --dark-text: #212121;
  --light-gray: #f4f4f5;
  --light-gray-bg: #ffffff34;
  --white: #ffffff;
  --gray-text: #989fad;
  --border-gray: #d1d5db;
  --font-sans: "Poppins", sans-serif;
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  color: var(--dark-text);
  background-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--green);
  font-weight: 600;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

/* #app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

/* ------------------- */
/* Reusable Components */
/* ------------------- */
.btn {
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--green);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--dark-green);
  transform: scale(1.05);
}

.btn-secondary {
  background-color: var(--light-gray-bg);
  color: var(--white);
  border: 1px solid var(--white);
}
.btn-full {
  width: 100%;
  border-radius: 0.375rem;
}

.sub-heading {
  text-transform: uppercase;
  color: var(--green);
  font-weight: 600;
  font-size: 0.8rem;
}

/* 
.section-header {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--dark-text);
}
.section-subtitle {
  color: var(--dark-text);
  margin-top: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
} */

/* ------------------- */
/* HEADER  */
/* ------------------- */
.header {
  background-color: var(--white);
  box-shadow: var(--shadow-md);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark-text);
  cursor: pointer;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
}

.nav-links a {
  margin-left: 2rem;
  font-weight: 500;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.desktop-only {
  display: none;
}

.toggler {
  display: block;
}

.nav-links.mobile-only {
  flex-direction: column;
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .toggler {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .nav-links .desktop-only {
    display: flex;
    flex-direction: row;
  }
}
/* ------------------- */
/* FOOTER  */
/* ------------------- */
