/* ------------------- */
/* Variables & Resets  */
/* ------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* --color-primary-50: #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-200: #bbf7d0;
  --color-primary-300: #86efac;
  --color-primary-400: #4ade80;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  --color-primary-800: #166534;
  --color-primary-900: #14532d;
  --color-primary-950: #052e16; */

  --green: #16a34a;
  --dark-green: #14532d;
  --light-green: #24f67b;
  --lighter-green: #bbf7d0;
  --dark-text: #212121;
  --light-gray: #ededed;
  --light-gray-bg: #ffffff34;
  --white: #ffffff;
  --gray-text: #989fad;
  --border-gray: #d1d5db;
  --font-sans: "Poppins", sans-serif;
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  color: var(--dark-text);
  background-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--green);
  font-weight: 600;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1024px) {
  /* lg */
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .container {
    max-width: 1280px;
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.items-center {
  align-items: center;
}

.italic {
  font-style: italic;
}

/* ------------------- */
/* Reusable Components */
/* ------------------- */
.btn {
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 1.4rem;
}

.btn-primary {
  background-color: var(--green);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--dark-green);
  transform: scale(1.02);
}

.btn-secondary {
  background-color: var(--light-gray-bg);
  color: var(--white);
  border: 1px solid var(--white);
}
.btn-full {
  width: 100%;
  border-radius: 0.375rem;
}

.section-heading {
  font-size: 2rem;
}

.sub-heading {
  text-transform: uppercase;
  color: var(--green);
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

p {
  font-size: 1rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .section-heading {
    font-size: 2.5rem;
  }

  .sub-heading {
    font-size: 1rem;
  }

  p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .sub-heading {
    font-size: 1.3rem;
  }
}

.site-logo {
  height: 2rem;
}

/* 
.section-header {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--dark-text);
}
.section-subtitle {
  color: var(--dark-text);
  margin-top: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
} */

/* ------------------- */
/* HEADER  */
/* ------------------- */
.header {
  background-color: var(--white);
  box-shadow: var(--shadow-md);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
}

.nav-links a {
  margin-left: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.desktop-only {
  display: none;
}

.toggler {
  display: block;
}

.mobile-nav-links {
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .toggler {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .nav-links .desktop-only {
    display: flex;
    flex-direction: column;
  }
}

/* ------------------- */
/* HERO  */
/* ------------------- */
.hero-container {
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}

.hero__heading {
  line-height: 3rem;
  font-size: 2.2rem;
}

.hero__description {
  margin: 1rem 0;
}

.hero__text {
  max-width: 85%;
  margin: 2rem;
  text-align: center;
}

.hero__image {
  margin: 2rem;
  width: 85%;
  box-shadow: var(--shadow-md);
}

@media screen and (min-width: 768px) {
  .hero-container {
    gap: 2rem;
    flex-direction: row;
  }

  .hero__text {
    text-align: left;
  }

  .hero__heading {
    line-height: 4rem;
    font-size: 3.5rem;
  }
}

/* ------------------- */
/* STATS BAR  */
/* ------------------- */

.stats-bar-section {
  background-color: var(--dark-green);
}

.stats-bar-grid {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  gap: 3rem;
  padding: 2rem;
}

.stats-number {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 700;
}

.stats-text {
  color: var(--light-green);
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .stats-bar-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .stats-bar-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

/* ------------------- */
/* SERVICES  */
/* ------------------- */
.services-section {
  background-color: var(--light-gray);
}

.services-container {
  padding: 3rem 1rem;
  margin: 0 auto;
  gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.service-section__image {
  justify-content: center;
}

.service-section__image img {
  max-width: 100%;
  box-shadow: var(--shadow-lg);
}

.service-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.icon-container {
  background-color: var(--lighter-green);
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 100%;
}

@media screen and (min-width: 768px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
}

/* ------------------- */
/* Testiminials  */
/* ------------------- */

.testimonials-container {
  padding: 5rem 1rem;
  margin: 0 auto;
  gap: 3rem;
  flex-direction: column;
}

.testimonials-cards {
  gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.testimonial-card {
  background-color: var(--light-gray);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-md);
}

.testimonial-card .card-header {
  gap: 0.8rem;
  margin-bottom: 0.5rem;
}

.testimonial-card .card-header img {
  border-radius: 100%;
}

@media screen and (min-width: 768px) {
  .testimonials-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
}

/* ------------------- */
/* FOOTER  */
/* ------------------- */
.footer-section {
  padding: 4rem 1rem;
  background-color: var(--dark-text);
  color: var(--white);
}

.footer-container {
  margin: 0 auto;
  padding: 1rem 0;
}

.footer-content {
  gap: 3rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.footer-section a {
  color: var(--white);
  transition: color 0.3s ease;
}

@media screen and (min-width: 768px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .footer-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ------------------- */
/* FOOTER  */
/* ------------------- */
